body{
    min-width: 400px;
    /* background-color: aqua; */
    background-color: blanchedalmond;
}

p{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(34, 119, 34);
}

#livematches,#pastmatches{
    font-size: 1rem;
    font-weight: bold;
    margin: 5px 10px;
}