body{
    min-width: 400px;
    background-color: rgb(95, 93, 90);
}

.subheadings{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
    color: rgb(246, 249, 250);
}

.headings{
    font-size: 2.5rem;
    font-weight: bold;
    text-align: center;
    color: rgb(246, 249, 250);
}
